/* ========================== Default ================================== */
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ========================== nav ================================== */
.linha{
    background-color: rgb(123, 223, 23);
    height: 5px;
    width: 100%;
}

/* ========================== HEADER ================================== */
header{
    justify-items: space-between;
    height: 400px;
    width: 100%;
}
div{
    background-repeat: no-repeat;
}
.background{
    background-image: url("imagens/banner.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    display:flex;
    padding-top: 50px;
}
.coluna{
    display: flex;
    flex-direction: column;
    background-color:none;
    height: 150px;
    width: 25%;
}
.textGeral{
    justify-content: center;
    text-align: justify;
    color: white;
}
.textEspec{
    font-family: 'Pacifico', cursive;
}
.iconsGeral{
    border-radius: 100%;
    display:flex;
    align-content: center;
    background-size: 25px;
    background-color: rgba(10,23,55,0.5);
    height: 35px;
    width: 45px;
}
.icons{
    border-image: 25px;
    background-color: rgba(10,23,55,0.5);
    height: 35px;
    width: 45px;
}
.imageHand{
    background-repeat: none;
    height: 400px;
    width: 56%;
    background-image: url("imagens/hand.png");
}