/* ========================== Default ================================== */
body{
    margin: 0 auto;
}
/* ========================== nav ================================== */
.linha{
    background-color: rgb(123, 223, 23);
    height: 5px;
    width: 100%;
}

/* ========================== HEADER ================================== */
header{
    justify-items: space-between;
    height: 400px;
    width: 100%;
}
.background{
    background-image: url("imagens/banner.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    display:flex;
    padding-top: 50px;
}
.coluna{
    display: flex;
    flex-direction: column;
    background-color:none;
    height: 150px;
    width: 25%;
}
.text{
    justify-content: center;
    text-align: justify;
    color: white;
}
.icons{
    border-radius: 75%;
    background-color: rgba(10,23,55,0.5);
    backdrop-filter:initial;
}
.imageHand{
    height: 400px;
    width: 56%;
    background-image: url("imagens/hand.png");
}